params {
    // Main
    manifest = "/projects/standard/venteicher_30050/balay011/gatk-sv/chordbai_gatksv.tsv"
    outdir   = "/projects/standard/venteicher_30050/balay011/GermlineSV_outs"
    fasta = "/projects/standard/aventeic/balay011/references/reference_genome/GRCh38.primary_assembly.genome.fa"

    // GATK-SV parameters
    gatk_sv_dir = "/scratch.global/balay011/GermGatkSVonHPC"
    cromwell_jar = "/users/1/balay011/helper_scripts/gatk_sv_cromwell_scripts/cromwell-91.jar"
    cromwell_conf = "${gatk_sv_dir}/cromwell.config"
    deps_zip = "${gatk_sv_dir}/deps.zip"

    // WDL Paths
    gse_wdl = "/projects/standard/venteicher_30050/balay011/gatk-sv/wdl/GatherSampleEvidence.wdl"
    evidqc_wdl  = "/projects/standard/venteicher_30050/balay011/gatk-sv/wdl/EvidenceQC.wdl"

    // Templates
    gse_template = "${gatk_sv_dir}/data/GatherSampleEvidence_inputs.json"
    evidqc_template = "${gatk_sv_dir}/data/EvidenceQC_inputs.json"
}

process {
    executor = 'slurm'
    queue = 'asvnode1,msibigmem'

    withName: COLLECT_INSERT_SIZE {
        cpus   = 2
        memory = 8.GB
        time   = '12h'

        ext.args = { [
            ref_genome: params.fasta
        ] }

        publishDir = [
            path: { "${params.outdir}/CollectInsertSizeMetrics/results/${meta.id}" },
            mode: 'copy'
        ]
    }

    withName: GATHER_SAMPLE_EVIDENCE {
        cpus = 4
        memory = 16.GB
        time   = '24h'

        publishDir = [
            path: { "${params.outdir}/GatherSampleEvidence_out/results" },
            mode: 'copy'
        ]
    }

    withName: EVIDENCE_QC {
        cpus = 8
        memory = 64.GB
        time   = '24h'

        publishDir = [
            path: { "${params.outdir}/EvidenceQC_out/results/" },
            mode: 'copy'
        ]
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '--bind /projects/standard/aventeic/balay011,/scratch.global/balay011,/projects/standard/venteicher_30050/balay011'
    }
}