params {
    config_profile_contact      = 'Agshin Balayev balay011@umn.edu'
    config_profile_name         = 'gatksvcaller-msi'
    config_profile_description  = 'MSI-optimized GermGatkSVonHPC configuration'

    // Input (Mandatory!)
    input                       = "/users/1/balay011/samplesheets_nextflow/gatk_sv/chordbai_gatksv.csv"
    
    // Main GATK-SV options (Mandatory!)
    gatk_sv_dir                 = "/projects/standard/venteicher_30050/balay011/gatk-sv"
    cromwell_config             = "${projectDir}/conf/cromwell.config"
    cromwell_jar                = "/users/1/balay011/helper_scripts/gatk_sv_cromwell_scripts/cromwell-91.jar"
    deps_zip                    = "${params.gatk_sv_dir}/deps.zip"

    // References
    genome = 'GRCh38'
	igenomes_base = '/projects/standard/aventeic/balay011/references'
	igenomes_ignore = false

    // GatherSampleEvidence options
    gse_collect_coverage = true
    gse_collect_pesr = true
    gse_run_localize_reads = false
    gse_run_module_metrics = true
    gse_runtime_attr_localize_reads = null
    gse_runtime_attr_split_cram = null
    gse_runtime_attr_concat_bam = null
    gse_runtime_attr_manta = [cpu: 8, memory_gb: 32, time: "24:00:00"]
    gse_runtime_attr_scramble_part1 = null
    gse_runtime_attr_scramble_part2 = null
    gse_runtime_attr_scramble_make_vcf = null
    gse_runtime_attr_realign_soft_clips = null
    gse_runtime_attr_scramble_part1_realigned = null
    gse_runtime_attr_scramble_part2_realigned = null
    gse_runtime_attr_scramble_make_vcf_realigned = null
    gse_runtime_attr_pesr = [cpu: 8, memory_gb: 32, time: "24:00:00"]
    gse_runtime_attr_wham = [cpu: 8, memory_gb: 32, time: "24:00:00"]
    
    // EvidenceQC options
    evidqc_run_vcf_qc = true
    evidqc_run_ploidy = true
    evidqc_median_cov_mem_gb_per_sample = 0.5
    evidqc_disk_overhead_bincov_gb = 50

    // Batching options
    run_batching = false
    // If run_batching = true, set batching options
    batching_include_metrics = "median_coverage"
    batching_include_bins = ""
    batching_target_batch_size = 500
    batching_min_batch_size = 100
    batching_max_batch_size = 500
    batching_batch_prefix = "batch"
    batching_batch_suffix = ""
    

    // TrainGCNV options
    run_train_gcnv = true
    traingcnv_num_intervals_per_scatter = 5000
    traingcnv_do_explicit_gc_correction = true
    traingcnv_gcnv_enable_bias_factors = false
    traingcnv_gcnv_caller_update_convergence_threshold = 0.000001
    traingcnv_gcnv_class_coherence_length = 1000
    traingcnv_gcnv_convergence_snr_trigger_threshold = 0.2
    traingcnv_gcnv_interval_psi_scale = 0.000001
    traingcnv_gcnv_log_mean_bias_standard_deviation = 0.01
    traingcnv_gcnv_max_bias_factors = 1
    traingcnv_gcnv_max_calling_iters = 20
    traingcnv_ploidy_global_psi_scale = 0.05
    traingcnv_ploidy_mean_bias_standard_deviation = 1
    traingcnv_gcnv_depth_correction_tau = 10000
    traingcnv_gcnv_log_emission_sampling_median_rel_error = 0.001
    traingcnv_gcnv_model_learning_rate = 0.03
    traingcnv_gcnv_model_num_thermal_advi_iters = 2500
    traingcnv_gcnv_model_max_advi_iter_first_epoch = 5000
    traingcnv_gcnv_model_max_advi_iter_subsequent_epochs = 200
    traingcnv_gcnv_model_max_training_epochs = 50
    traingcnv_gcnv_model_min_training_epochs = 5
    traingcnv_gcnv_model_convergence_snr_averaging_window = 500
    traingcnv_gcnv_model_convergence_snr_countdown_window = 10
    traingcnv_gcnv_model_cnv_coherence_length = 1000
    traingcnv_gcnv_learning_rate = 0.03
    traingcnv_gcnv_num_thermal_advi_iters = 250
    traingcnv_gcnv_max_advi_iter_first_epoch = 5000
    traingcnv_gcnv_max_advi_iter_subsequent_epochs = 200
    traingcnv_gcnv_max_training_epochs = 50
    traingcnv_gcnv_min_training_epochs = 5
    traingcnv_gcnv_convergence_snr_averaging_window = 100
    traingcnv_gcnv_convergence_snr_countdown_window = 10
    traingcnv_gcnv_cnv_coherence_length = 1000
    traingcnv_gcnv_copy_number_posterior_expectation_mode = "EXACT"
    traingcnv_gcnv_log_emission_sampling_rounds = 20
    traingcnv_gcnv_p_alt = 0.000001
    traingcnv_gcnv_sample_psi_scale = 0.000001
    traingcnv_ploidy_sample_psi_scale = 0.001
    traingcnv_n_samples_subsample = 100

    // GatherBatchEvidence options
    run_gather_batch_evidence = true
    gbe_run_matrix_qc = true
    gbe_matrix_qc_distance = 1000000
    gbe_min_svsize = 50
    gbe_ploidy_sample_psi_scale = 0.001
    gbe_gcnv_learning_rate = 0.03
    gbe_gcnv_num_thermal_advi_iters = 250
    gbe_gcnv_max_advi_iter_first_epoch = 1000
    gbe_gcnv_max_advi_iter_subsequent_epochs = 200
    gbe_gcnv_max_training_epochs = 5
    gbe_gcnv_min_training_epochs = 1
    gbe_gcnv_convergence_snr_averaging_window = 100
    gbe_gcnv_convergence_snr_countdown_window = 10
    gbe_gcnv_cnv_coherence_length = 1000
    gbe_gcnv_copy_number_posterior_expectation_mode = "EXACT"
    gbe_gcnv_log_emission_sampling_rounds = 20
    gbe_gcnv_p_alt = 0.000001
    gbe_gcnv_sample_psi_scale = 0.000001
    gbe_gcnv_caller_internal_admixing_rate = 0.5
    gbe_gcnv_caller_update_convergence_threshold = 0.000001
    gbe_gcnv_convergence_snr_trigger_threshold = 0.2
    gbe_gcnv_depth_correction_tau = 10000
    gbe_gcnv_log_emission_sampling_median_rel_error = 0.001
    gbe_gcnv_qs_cutoff = 30
    gbe_run_ploidy = false
    gbe_rename_samples = false

    // ClusterBatch options
    run_cluster_batch = false
    cluster_pesr_interval_overlap = 0.1
    cluster_pesr_breakend_window = 300
    cluster_pesr_clustering_algorithm = "SINGLE_LINKAGE"
    cluster_depth_exclude_overlap_fraction = 0.5
    cluster_depth_interval_overlap = 0.8
    cluster_depth_clustering_algorithm = "SINGLE_LINKAGE"
    cluster_n_iqr_cutoff_plotting = 6

    // GenerateBatchMetrics options
    run_generate_batch_metrics = false
    generate_batch_metrics_records_per_shard_agg = 10000

    // FilterBatchSites options
    run_filter_batch_sites = false
    filter_batch_sites_n_iqr_cutoff_plotting = 6

    // FilterBatchSamples options
    run_filter_batch_samples = false
    filter_batch_samples_n_iqr_cutoff = 10000

    // Joint cohort calling options
    run_merge_batch_sites = false
    run_genotype_batch = false

    // Boilerplate options
	outdir                      = "/scratch.global/venteicher_30050/balay011/GermlineSV_outs"
	publish_dir_mode            = 'copy'
	email                       = null
	email_on_fail               = null
	plaintext_email             = false
	monochrome_logs             = false
	hook_url                    = null
	help                        = false
	version                     = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                  = '128.GB'
    max_cpus                    = 16
    max_time                    = '240.h'
}

// Perform work directory cleanup when the run has succesfully completed
 cleanup = false

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
	PYTHONNOUSERSITE = 1
	R_PROFILE_USER = "/.Rprofile"
	R_ENVIRON_USER = "/.Renviron"
	JULIA_DEPOT_PATH = "/usr/local/share/julia"
	R_DATATABLE_NUM_THREADS = 1
    NEXTFLOW_BIN_DIR = "${projectDir}/bin"
    NEXTFLOW_PROJECT_DIR = "${projectDir}"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
	name = 'balayev1/EnsembleSomaSVCaller'
	author = """Agshin Balayev"""
	homePage = 'https://github.com/balayev1/GermGatkSVonHPC'
	description = """GATK SV Pipeline on HPC"""
	mainScript = 'main.nf'
	nextflowVersion = '!>=25.10.2'
	version = '1.0dev'
	doi = ''
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /users -B /projects -B /scratch.global"
        singularity.cacheDir   = "/scratch.global/balay011/singularity_cache"
    }
}

executor {
    name            = 'slurm'
    queue           = 'asvnode1,msibigmem'
    submitRateLimit = '10 sec'
    queueSize       = 50
    killBatchSize = 500
}

// Load dockers.config
includeConfig 'conf/dockers.config'

// Load igenomes.config if required
if (!params.igenomes_ignore) {
	includeConfig 'conf/igenomes.config'
} else {
	params.genomes = [:]
}

// Load modules.config
includeConfig 'conf/modules.config'

// Load tool-specific JSON static maps
includeConfig 'conf/tool_inputs/gse.config'
includeConfig 'conf/tool_inputs/evidence_qc.config'
includeConfig 'conf/tool_inputs/train_gcnv.config'
includeConfig 'conf/tool_inputs/gather_batch_evidence.config'
includeConfig 'conf/tool_inputs/cluster_batch.config'
includeConfig 'conf/tool_inputs/generate_batch_metrics.config'
includeConfig 'conf/tool_inputs/filter_batch_sites.config'
includeConfig 'conf/tool_inputs/filter_batch_samples.config'
includeConfig 'conf/tool_inputs/merge_batch_sites.config'
includeConfig 'conf/tool_inputs/genotype_batch.config'

// Load WDL and template path configs
includeConfig 'conf/wdl.config'
includeConfig 'conf/templates.config'
