params {
    config_profile_contact      = 'Agshin Balayev balay011@umn.edu'
    config_profile_name         = 'gatksvcaller-msi'
    config_profile_description  = 'MSI-optimized GermGatkSVonHPC configuration'

    // Input (Mandatory!)
    input                       = "/projects/standard/aventeic/balay011/scripts/SomaCNV_chordbai.csv"
    cromwell_jar                = "/users/1/balay011/helper_scripts/gatk_sv_cromwell_scripts/cromwell-91.jar"
    
    // Main GATK-SV options (Mandatory!)
    gatk_sv_dir                 = "/projects/standard/venteicher_30050/balay011/gatk-sv"
    cromwell_config             = "${projectDir}/conf/cromwell.config"
    cromwell_jar                = "/users/1/balay011/helper_scripts/gatk_sv_cromwell_scripts/cromwell-91.jar"
    deps_zip                    = "${params.gatk_sv_dir}/deps.zip"

    // References
    genome = 'GRCh38'
	igenomes_base = '/projects/standard/aventeic/balay011/references'
	igenomes_ignore = false

    // GatherSampleEvidence options
    gse_collect_coverage = true
    gse_collect_pesr = true
    gse_run_localize_reads = false
    gse_run_module_metrics = true

    // EvidenceQC options
    evidqc_run_vcf_qc = true
    evidqc_run_ploidy = true
    evidqc_median_cov_mem_gb_per_sample = 0.5
    evidqc_disk_overhead_bincov_gb = 50

    // Boilerplate options
	outdir                      = "/scratch.global/venteicher_30050/balay011/GermlineSV_outs"
	publish_dir_mode            = 'copy'
	email                       = null
	email_on_fail               = null
	plaintext_email             = false
	monochrome_logs             = false
	hook_url                    = null
	help                        = false
	version                     = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                  = '128.GB'
    max_cpus                    = 16
    max_time                    = '240.h'
}

// Perform work directory cleanup when the run has succesfully completed
 cleanup = false

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
	PYTHONNOUSERSITE = 1
	R_PROFILE_USER = "/.Rprofile"
	R_ENVIRON_USER = "/.Renviron"
	JULIA_DEPOT_PATH = "/usr/local/share/julia"
	R_DATATABLE_NUM_THREADS = 1
    NEXTFLOW_BIN_DIR = "${projectDir}/bin"
    NEXTFLOW_PROJECT_DIR = "${projectDir}"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
	enabled = true
	file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
	name = 'balayev1/EnsembleSomaSVCaller'
	author = """Agshin Balayev"""
	homePage = 'https://github.com/balayev1/GermGatkSVonHPC'
	description = """GATK SV Pipeline on HPC"""
	mainScript = 'main.nf'
	nextflowVersion = '!>=25.10.2'
	version = '1.0dev'
	doi = ''
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /users -B /projects -B /scratch.global"
        singularity.cacheDir   = "/scratch.global/balay011/singularity_cache"
    }
}

executor {
    name            = 'slurm'
    queue           = 'asvnode1,msibigmem'
    submitRateLimit = '10 sec'
    queueSize       = 50
    killBatchSize = 500
}

// Load dockers.config
includeConfig 'conf/dockers.config'

// Load igenomes.config if required
if (!params.igenomes_ignore) {
	includeConfig 'conf/igenomes.config'
} else {
	params.genomes = [:]
}

// Load modules.config
includeConfig 'conf/modules.config'

// Load tool-specific JSON static maps
includeConfig 'conf/tool_inputs/gse.config'
includeConfig 'conf/tool_inputs/evidence_qc.config'

// Load WDL and template path configs
includeConfig 'conf/wdl.config'
includeConfig 'conf/templates.config'

process {
    executor = 'slurm'
    queue = 'asvnode1,msibigmem'

    withName: COLLECT_INSERT_SIZE {
        cpus   = 2
        memory = 8.GB
        time   = '12h'

        ext.args = { [
            ref_genome: params.fasta
        ] } 

        publishDir = [
            path: { "${params.outdir}/InsertSize_out/${meta.id}" },
            mode: 'copy'
        ]
    }

    withName: GATKSV_GATHERSAMPLEEVIDENCE {
        cpus = 4
        memory = 16.GB
        time   = '24h'
    }

    withName: EVIDENCE_QC {
        cpus = 8
        memory = 64.GB
        time   = '24h'

        publishDir = [
            path: { "${params.outdir}/EvidenceQC_out/${task.tag}" },
            mode: 'copy'
        ]
    }

    withName: SAMPLE_QC {
        cpus = 2
        memory = 8.GB
        time = '1h'
        publishDir = [
            path: { "${params.outdir}/SampleQC_out/${task.tag}" },
            mode: 'copy'
        ]
    }

    withName: TRAIN_GCNV {
        cpus = 16
        memory = 64.GB
        time = '48h'
    }
}
