def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.annotate_vcf = [
    "AnnotateVcf.protein_coding_gtf"           : genome_resources.protein_coding_gtf,
    "AnnotateVcf.noncoding_bed"                : genome_resources.noncoding_bed,
    "AnnotateVcf.external_af_ref_bed"          : genome_resources.external_af_ref_bed,
    "AnnotateVcf.external_af_ref_prefix"       : genome_resources.external_af_ref_prefix,
    "AnnotateVcf.external_af_population"       : genome_resources.external_af_population,
    "AnnotateVcf.par_bed"                      : genome_resources.par_bed,
    "AnnotateVcf.contig_list"                  : genome_resources.primary_contigs_list,
    "AnnotateVcf.promoter_window"              : params.annotate_vcf_promoter_window,
    "AnnotateVcf.max_breakend_as_cnv_length"   : params.annotate_vcf_max_breakend_as_cnv_length,
    "AnnotateVcf.sample_keep_list"             : params.annotate_vcf_sample_keep_list,
    "AnnotateVcf.sample_pop_assignments"       : params.annotate_vcf_sample_pop_assignments,
    "AnnotateVcf.allosomes_list"               : params.annotate_vcf_allosomes_list,
    "AnnotateVcf.svannotate_additional_args"   : params.annotate_vcf_svannotate_additional_args,
    "AnnotateVcf.sv_per_shard"                 : params.annotate_vcf_sv_per_shard,
    "AnnotateVcf.gatk_docker"                  : params.gatk_docker,
    "AnnotateVcf.sv_base_mini_docker"          : params.sv_base_mini_docker,
    "AnnotateVcf.sv_pipeline_docker"           : params.sv_pipeline_docker
]
