def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.clean_vcf = [
    "CleanVcf.contig_list"                  : genome_resources.primary_contigs_fai,
    "CleanVcf.allosome_fai"                : genome_resources.cnmops_allo_file,
    "CleanVcf.HERVK_reference"             : genome_resources.hervk_reference,
    "CleanVcf.LINE1_reference"             : genome_resources.line1_reference,
    "CleanVcf.intron_reference"            : genome_resources.intron_reference,
    "CleanVcf.chr_x"                       : genome_resources.chr_x,
    "CleanVcf.chr_y"                       : genome_resources.chr_y,
    "CleanVcf.primary_contigs_list"        : genome_resources.primary_contigs_list,
    "CleanVcf.run_module_metrics"          : params.clean_vcf_run_module_metrics,
    "CleanVcf.gatk_docker"                 : params.gatk_docker,
    "CleanVcf.linux_docker"                : params.linux_docker,
    "CleanVcf.sv_pipeline_docker"          : params.sv_pipeline_docker,
    "CleanVcf.sv_base_mini_docker"         : params.sv_base_mini_docker
]
