def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.cluster_batch = [
    "ClusterBatch.contig_list"                    : genome_resources.primary_contigs_list,
    "ClusterBatch.reference_fasta"                : genome_resources.reference_fasta,
    "ClusterBatch.reference_fasta_fai"            : genome_resources.reference_index,
    "ClusterBatch.reference_dict"                 : genome_resources.reference_dict,
    "ClusterBatch.chr_x"                          : genome_resources.chr_x,
    "ClusterBatch.chr_y"                          : genome_resources.chr_y,
    "ClusterBatch.pesr_exclude_intervals"         : genome_resources.pesr_exclude_list,
    "ClusterBatch.pesr_interval_overlap"          : params.cluster_pesr_interval_overlap,
    "ClusterBatch.pesr_breakend_window"           : params.cluster_pesr_breakend_window,
    "ClusterBatch.pesr_clustering_algorithm"      : params.cluster_pesr_clustering_algorithm,
    "ClusterBatch.depth_exclude_intervals"        : genome_resources.depth_exclude_list,
    "ClusterBatch.depth_exclude_overlap_fraction" : params.cluster_depth_exclude_overlap_fraction,
    "ClusterBatch.depth_interval_overlap"         : params.cluster_depth_interval_overlap,
    "ClusterBatch.depth_clustering_algorithm"     : params.cluster_depth_clustering_algorithm,
    "ClusterBatch.sv_base_mini_docker"            : params.sv_base_mini_docker,
    "ClusterBatch.sv_pipeline_docker"             : params.sv_pipeline_docker,
    "ClusterBatch.gatk_docker"                    : params.gatk_docker,
    "ClusterBatch.linux_docker"                   : params.linux_docker,
    "ClusterBatch.N_IQR_cutoff_plotting"          : params.cluster_n_iqr_cutoff_plotting
]
