def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.combine_batches = [
    "CombineBatches.contig_list"                  : genome_resources.primary_contigs_fai,
    "CombineBatches.clustering_config_part1"      : genome_resources.clustering_config_part1,
    "CombineBatches.stratification_config_part1"  : genome_resources.stratification_config_part1,
    "CombineBatches.clustering_config_part2"      : genome_resources.clustering_config_part2,
    "CombineBatches.stratification_config_part2"  : genome_resources.stratification_config_part2,
    "CombineBatches.track_bed_files"              : genome_resources.clustering_tracks,
    "CombineBatches.track_names"                  : genome_resources.clustering_track_names,
    "CombineBatches.min_sr_background_fail_batches": params.combine_batches_min_sr_background_fail_batches,
    "CombineBatches.gatk_docker"                  : params.gatk_docker,
    "CombineBatches.sv_pipeline_docker"           : params.sv_pipeline_docker,
    "CombineBatches.sv_base_mini_docker"          : params.sv_base_mini_docker,
    "CombineBatches.reference_dict"               : genome_resources.reference_dict,
    "CombineBatches.reference_fasta"              : genome_resources.reference_fasta,
    "CombineBatches.reference_fasta_fai"          : genome_resources.reference_index,
    "CombineBatches.chr_x"                        : genome_resources.chr_x,
    "CombineBatches.chr_y"                        : genome_resources.chr_y
]
