def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.evidence_qc = [
    "EvidenceQC.run_vcf_qc"                    : params.evidqc_run_vcf_qc,
    "EvidenceQC.run_ploidy"                    : params.evidqc_run_ploidy,
    "EvidenceQC.genome_file"                   : params.genome_file ?: genome_resources.genome_file,
    "EvidenceQC.wgd_scoring_mask"              : params.wgd_scoring_mask ?: genome_resources.wgd_scoring_mask,
    "EvidenceQC.sv_base_mini_docker"           : params.sv_base_mini_docker,
    "EvidenceQC.sv_base_docker"                : params.sv_base_docker,
    "EvidenceQC.sv_pipeline_docker"            : params.sv_pipeline_docker,
    "EvidenceQC.sv_pipeline_qc_docker"         : params.sv_pipeline_qc_docker,
    "EvidenceQC.median_cov_mem_gb_per_sample"  : params.evidqc_median_cov_mem_gb_per_sample,
    "EvidenceQC.disk_overhead_bincov_gb"       : params.evidqc_disk_overhead_bincov_gb
]
