def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

def site_level_datasets = [
    ["ccdg_abel", genome_resources.ccdg_abel_site_level_benchmarking_dataset],
    ["gnomad_v4", genome_resources.gnomad_v4_site_level_benchmarking_dataset],
    ["gnomad_v2_collins", genome_resources.gnomad_v2_collins_site_level_benchmarking_dataset],
    ["hgsv_byrska_bishop", genome_resources.hgsv_byrska_bishop_site_level_benchmarking_dataset],
    ["ssc_belyeu", genome_resources.ssc_belyeu_site_level_benchmarking_dataset],
    ["thousand_genomes", genome_resources.thousand_genomes_site_level_benchmarking_dataset]
].findAll { it[1] != null }

def sample_level_datasets = [
    ["gnomad_v2_collins", genome_resources.gnomad_v2_collins_sample_level_benchmarking_dataset],
    ["hgsv_byrska_bishop", genome_resources.hgsv_byrska_bishop_sample_level_benchmarking_dataset],
    ["hgsv_ebert", genome_resources.hgsv_ebert_sample_level_benchmarking_dataset],
    ["ssc_belyeu", genome_resources.ssc_belyeu_sample_level_benchmarking_dataset]
].findAll { it[1] != null }

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.filter_genotypes = [
    "FilterGenotypes.no_call_rate_cutoff"                 : params.filter_genotypes_no_call_rate_cutoff,
    "FilterGenotypes.sl_cutoff_table"                    : genome_resources.sl_cutoff_table,
    "FilterGenotypes.optimized_sl_cutoff_table"          : null,
    "FilterGenotypes.sl_filter_args"                     : params.filter_genotypes_sl_filter_args,
    "FilterGenotypes.filter_vcf_records_per_shard"       : params.filter_genotypes_filter_vcf_records_per_shard,
    "FilterGenotypes.primary_contigs_fai"                : genome_resources.primary_contigs_fai,
    "FilterGenotypes.site_level_comparison_datasets"     : site_level_datasets,
    "FilterGenotypes.sample_level_comparison_datasets"   : sample_level_datasets,
    "FilterGenotypes.sample_renaming_tsv"                : genome_resources.hgsv_byrska_bishop_sample_renaming_tsv,
    "FilterGenotypes.run_qc"                             : params.filter_genotypes_run_qc,
    "FilterGenotypes.qc_bcftools_preprocessing_options"  : params.filter_genotypes_qc_bcftools_preprocessing_options,
    "FilterGenotypes.qc_sv_per_shard"                    : params.filter_genotypes_qc_sv_per_shard,
    "FilterGenotypes.qc_samples_per_shard"               : params.filter_genotypes_qc_samples_per_shard,
    "FilterGenotypes.runtime_override_plot_qc_per_family": params.filter_genotypes_runtime_override_plot_qc_per_family,
    "FilterGenotypes.sv_base_mini_docker"                : params.sv_base_mini_docker,
    "FilterGenotypes.sv_pipeline_docker"                 : params.sv_pipeline_docker
]
