params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.filter_batch_sites = [
    "FilterBatchSites.sv_pipeline_docker"   : params.sv_pipeline_docker,
    "FilterBatchSites.batch"                : "__INJECT_BATCH__",
    "FilterBatchSites.depth_vcf"            : "__INJECT_DEPTH_VCF__",
    "FilterBatchSites.manta_vcf"            : "__INJECT_MANTA_VCF__",
    "FilterBatchSites.wham_vcf"             : "__INJECT_WHAM_VCF__",
    "FilterBatchSites.scramble_vcf"         : "__INJECT_SCRAMBLE_VCF__",
    "FilterBatchSites.evidence_metrics"     : "__INJECT_EVIDENCE_METRICS__",
    "FilterBatchSites.N_IQR_cutoff_plotting": params.filter_batch_sites_n_iqr_cutoff_plotting
]
