def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.generate_batch_metrics = [
    "GenerateBatchMetrics.sv_pipeline_docker" : params.sv_pipeline_docker,
    "GenerateBatchMetrics.sv_base_mini_docker": params.sv_base_mini_docker,
    "GenerateBatchMetrics.gatk_docker"        : params.gatk_docker,
    "GenerateBatchMetrics.rmsk"               : genome_resources.rmsk,
    "GenerateBatchMetrics.segdups"            : genome_resources.segdups,
    "GenerateBatchMetrics.reference_dict"     : genome_resources.reference_dict,
    "GenerateBatchMetrics.primary_contigs_list": genome_resources.primary_contigs_list,
    "GenerateBatchMetrics.chr_x"              : genome_resources.chr_x,
    "GenerateBatchMetrics.chr_y"              : genome_resources.chr_y,
    "GenerateBatchMetrics.records_per_shard_agg": params.generate_batch_metrics_records_per_shard_agg
]
