def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.genotype_batch = [
    "GenotypeBatch.sv_base_mini_docker"     : params.sv_base_mini_docker,
    "GenotypeBatch.sv_pipeline_docker"      : params.sv_pipeline_docker,
    "GenotypeBatch.gatk_docker"             : params.gatk_docker,
    "GenotypeBatch.pesr_exclusion_intervals": genome_resources.pesr_exclude_list,
    "GenotypeBatch.reference_dict"          : genome_resources.reference_dict,
    "GenotypeBatch.contig_list"             : genome_resources.primary_contigs_list,
    "GenotypeBatch.depth_exclusion_intervals": genome_resources.bin_exclude,
    "GenotypeBatch.training_intervals"      : genome_resources.depth_training_bed,
    "GenotypeBatch.batch"                   : "__INJECT_BATCH__",
    "GenotypeBatch.rf_cutoffs"              : "__INJECT_RF_CUTOFFS__",
    "GenotypeBatch.pe_file"                 : "__INJECT_PE_FILE__",
    "GenotypeBatch.rd_file"                 : "__INJECT_RD_FILE__",
    "GenotypeBatch.sr_file"                 : "__INJECT_SR_FILE__",
    "GenotypeBatch.median_coverage"         : "__INJECT_MEDIAN_COVERAGE__",
    "GenotypeBatch.vcf"                     : "__INJECT_VCF__",
    "GenotypeBatch.ploidy_table"            : "__INJECT_PLOIDY_TABLE__"
]
