def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.genotype_complex_variants = [
    "GenotypeComplexVariants.bin_exclude"        : genome_resources.bin_exclude,
    "GenotypeComplexVariants.contig_list"        : genome_resources.primary_contigs_fai,
    "GenotypeComplexVariants.ref_dict"           : genome_resources.reference_dict,
    "GenotypeComplexVariants.merge_vcfs"         : params.genotype_complex_variants_merge_vcfs,
    "GenotypeComplexVariants.records_per_shard"  : params.genotype_complex_variants_records_per_shard,
    "GenotypeComplexVariants.min_ddup_thresh"    : params.genotype_complex_variants_min_ddup_thresh,
    "GenotypeComplexVariants.linux_docker"       : params.linux_docker,
    "GenotypeComplexVariants.sv_pipeline_docker" : params.sv_pipeline_docker,
    "GenotypeComplexVariants.sv_base_mini_docker": params.sv_base_mini_docker
]
