def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.gse = [
    "GatherSampleEvidence.collect_coverage"            : params.gse_collect_coverage,
    "GatherSampleEvidence.collect_pesr"                : params.gse_collect_pesr,
    "GatherSampleEvidence.run_localize_reads"          : params.gse_run_localize_reads,
    "GatherSampleEvidence.run_module_metrics"          : params.gse_run_module_metrics,
    "GatherSampleEvidence.runtime_attr_localize_reads" : params.gse_runtime_attr_localize_reads,
    "GatherSampleEvidence.runtime_attr_split_cram"     : params.gse_runtime_attr_split_cram,
    "GatherSampleEvidence.runtime_attr_concat_bam"     : params.gse_runtime_attr_concat_bam,
    "GatherSampleEvidence.runtime_attr_manta"          : params.gse_runtime_attr_manta,
    "GatherSampleEvidence.runtime_attr_scramble_part1" : params.gse_runtime_attr_scramble_part1,
    "GatherSampleEvidence.runtime_attr_scramble_part2" : params.gse_runtime_attr_scramble_part2,
    "GatherSampleEvidence.runtime_attr_scramble_make_vcf": params.gse_runtime_attr_scramble_make_vcf,
    "GatherSampleEvidence.runtime_attr_realign_soft_clips": params.gse_runtime_attr_realign_soft_clips,
    "GatherSampleEvidence.runtime_attr_scramble_part1_realigned": params.gse_runtime_attr_scramble_part1_realigned,
    "GatherSampleEvidence.runtime_attr_scramble_part2_realigned": params.gse_runtime_attr_scramble_part2_realigned,
    "GatherSampleEvidence.runtime_attr_scramble_make_vcf_realigned": params.gse_runtime_attr_scramble_make_vcf_realigned,
    "GatherSampleEvidence.runtime_attr_pesr"           : params.gse_runtime_attr_pesr,
    "GatherSampleEvidence.runtime_attr_wham"           : params.gse_runtime_attr_wham,
    "GatherSampleEvidence.reference_fasta"             : genome_resources.reference_fasta ?: genome_resources.fasta,
    "GatherSampleEvidence.reference_index"             : genome_resources.reference_index ?: genome_resources.fasta_fai,
    "GatherSampleEvidence.reference_dict"              : genome_resources.reference_dict,
    "GatherSampleEvidence.reference_version"           : genome_resources.reference_version,
    "GatherSampleEvidence.primary_contigs_list"        : genome_resources.primary_contigs_list,
    "GatherSampleEvidence.primary_contigs_fai"         : genome_resources.primary_contigs_fai,
    "GatherSampleEvidence.preprocessed_intervals"      : genome_resources.preprocessed_intervals,
    "GatherSampleEvidence.sd_locs_vcf"                 : genome_resources.sd_locs_vcf,
    "GatherSampleEvidence.wham_include_list_bed_file"  : genome_resources.wham_include_list_bed_file,
    "GatherSampleEvidence.manta_region_bed"            : genome_resources.manta_region_bed,
    "GatherSampleEvidence.manta_region_bed_index"      : genome_resources.manta_region_bed_index,
    "GatherSampleEvidence.mei_bed"                     : genome_resources.mei_bed,
    "GatherSampleEvidence.samtools_cloud_docker"       : params.samtools_cloud_docker,
    "GatherSampleEvidence.sv_base_mini_docker"         : params.sv_base_mini_docker,
    "GatherSampleEvidence.sv_pipeline_docker"          : params.sv_pipeline_docker,
    "GatherSampleEvidence.manta_docker"                : params.manta_docker,
    "GatherSampleEvidence.wham_docker"                 : params.wham_docker,
    "GatherSampleEvidence.scramble_docker"             : params.scramble_docker,
    "GatherSampleEvidence.genomes_in_the_cloud_docker" : params.genomes_in_the_cloud_docker,
    "GatherSampleEvidence.gatk_docker"                 : params.gatk_docker,
    "GatherSampleEvidence.cloud_sdk_docker"            : params.cloud_sdk_docker
]
