def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.join_raw_calls = [
    "JoinRawCalls.gatk_docker"         : params.gatk_docker,
    "JoinRawCalls.sv_base_mini_docker" : params.sv_base_mini_docker,
    "JoinRawCalls.sv_pipeline_docker"  : params.sv_pipeline_docker,
    "JoinRawCalls.contig_list"         : genome_resources.primary_contigs_list,
    "JoinRawCalls.reference_fasta"     : genome_resources.reference_fasta,
    "JoinRawCalls.reference_fasta_fai" : genome_resources.reference_index,
    "JoinRawCalls.reference_dict"      : genome_resources.reference_dict,
    "JoinRawCalls.chr_x"               : genome_resources.chr_x,
    "JoinRawCalls.chr_y"               : genome_resources.chr_y
]
