def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.merge_batch_sites = [
    "MergeBatchSites.sv_base_mini_docker": params.sv_base_mini_docker,
    "MergeBatchSites.sv_pipeline_docker" : params.sv_pipeline_docker,
    "MergeBatchSites.gatk_docker"        : params.gatk_docker,
    "MergeBatchSites.reference_fasta"    : genome_resources.reference_fasta,
    "MergeBatchSites.reference_fasta_fai": genome_resources.reference_index,
    "MergeBatchSites.reference_dict"     : genome_resources.reference_dict,
    "MergeBatchSites.pesr_vcfs"          : "__INJECT_PESR_VCFS__",
    "MergeBatchSites.depth_vcfs"         : "__INJECT_DEPTH_VCFS__",
    "MergeBatchSites.ploidy_tables"      : "__INJECT_PLOIDY_TABLES__",
    "MergeBatchSites.cohort"             : "__INJECT_COHORT__"
]
