params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.refine_complex_variants = [
    "RefineComplexVariants.n_per_split"         : params.refine_complex_variants_n_per_split,
    "RefineComplexVariants.sv_base_mini_docker" : params.sv_base_mini_docker,
    "RefineComplexVariants.sv_pipeline_docker"  : params.sv_pipeline_docker,
    "RefineComplexVariants.linux_docker"        : params.linux_docker
]
