def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.regenotype_cnvs = [
    "RegenotypeCNVs.sv_base_mini_docker"             : params.sv_base_mini_docker,
    "RegenotypeCNVs.sv_pipeline_docker"              : params.sv_pipeline_docker,
    "RegenotypeCNVs.n_RdTest_bins"                   : params.regenotype_n_rdtest_bins,
    "RegenotypeCNVs.n_per_split"                     : params.regenotype_n_per_split,
    "RegenotypeCNVs.regeno_max_allele_freq"          : params.regenotype_max_allele_freq,
    "RegenotypeCNVs.regeno_allele_count_threshold"   : params.regenotype_allele_count_threshold,
    "RegenotypeCNVs.min_var_per_sample_outlier_threshold": params.regenotype_min_var_per_sample_outlier_threshold,
    "RegenotypeCNVs.regeno_sample_overlap"           : params.regenotype_sample_overlap,
    "RegenotypeCNVs.contig_list"                     : genome_resources.primary_contigs_list,
]