def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.resolve_complex_variants = [
    "ResolveComplexVariants.contig_list"             : genome_resources.primary_contigs_fai,
    "ResolveComplexVariants.merge_vcfs"             : params.resolve_complex_variants_merge_vcfs,
    "ResolveComplexVariants.max_shard_size"         : params.resolve_complex_variants_max_shard_size,
    "ResolveComplexVariants.cytobands"              : genome_resources.cytoband,
    "ResolveComplexVariants.mei_bed"                : genome_resources.mei_bed,
    "ResolveComplexVariants.pe_exclude_list"        : genome_resources.pesr_exclude_list,
    "ResolveComplexVariants.ref_dict"               : genome_resources.reference_dict,
    "ResolveComplexVariants.sv_base_mini_docker"    : params.sv_base_mini_docker,
    "ResolveComplexVariants.sv_pipeline_docker"     : params.sv_pipeline_docker
]
