def genome_resources = params.genomes?.get(params.genome as String) ?: [:]

params.tool_inputs = params.tool_inputs ?: [:]
params.tool_inputs.sv_concordance = [
    "SVConcordance.gatk_docker"         : params.gatk_docker,
    "SVConcordance.sv_base_mini_docker" : params.sv_base_mini_docker,
    "SVConcordance.contig_list"         : genome_resources.primary_contigs_list,
    "SVConcordance.reference_dict"      : genome_resources.reference_dict
]
