process {
    executor = 'slurm'

    // Default generic resources (optional safety net)
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'

    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        queue = 'asvnode1'
        cpus   = { check_max( 2, 'cpus' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time   = { check_max( 12.h  * task.attempt, 'time'   ) }
    }

    withName: GATKSV_GATHERSAMPLEEVIDENCE {
        queue = 'asvnode1'
        cpus   = { check_max( 8, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 24.h  * task.attempt, 'time'   ) }
    }

    withName: GATKSV_EVIDENCEQC {
        queue = 'asvnode1'
        cpus   = { check_max( 8, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 24.h  * task.attempt, 'time'   ) }
    }

    withName: SAMPLE_QC {
        queue = 'asvnode1'
        cpus   = { check_max( 2, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time   = { check_max( 1.h  * task.attempt, 'time'   ) }
    }

    withName: BATCHING {
        queue = 'asvnode1'
        cpus   = { check_max( 2, 'cpus' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h  * task.attempt, 'time'   ) }
    }
}
