/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh38' {
            fasta                           = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa"
            fasta_fai                       = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa.fai"
            reference_fasta                 = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa"
            reference_index                 = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa.fai"
            reference_dict                  = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.dict"
            reference_version               = "38"
            primary_contigs_list            = "${params.igenomes_base}/GATK_SV_files/primary_contigs.list"
            primary_contigs_fai             = "${params.igenomes_base}/GATK_SV_files/contig.fai"
            preprocessed_intervals          = "${params.igenomes_base}/GATK_SV_files/preprocessed_intervals.interval_list"
            manta_region_bed                = "${params.igenomes_base}/GATK_SV_files/primary_contigs_plus_mito.bed.gz"
            manta_region_bed_index          = "${params.igenomes_base}/GATK_SV_files/primary_contigs_plus_mito.bed.gz.tbi"
            mei_bed                         = "${params.igenomes_base}/GATK_SV_files/hg38.repeatmasker.mei.with_SVA.pad_50_merged.bed.gz"
            sd_locs_vcf                     = "${params.igenomes_base}/dbSNP_files/Homo_sapiens_assembly38.primary_only.vcf"
            wham_include_list_bed_file      = "${params.igenomes_base}/GATK_SV_files/wham_whitelist.bed"
            genome_file                     = "${params.igenomes_base}/GATK_SV_files/hg38.genome"
            wgd_scoring_mask                = "${params.igenomes_base}/GATK_SV_files/wgd_scoring_mask.hg38.gnomad_v3.bed"
        }
    }
}
