/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/      

params {
    genomes {
        'GRCh38' {  
            reference_fasta = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa"
            reference_index = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.fa.fai"
            reference_dict = "${params.igenomes_base}/reference_genome/GRCh38.primary_assembly.genome.dict"
            reference_version = "38"
            primary_contigs_list = "${params.igenomes_base}/GATK_SV_files/primary_contigs.list"
            primary_contigs_fai = "${params.igenomes_base}/GATK_SV_files/contig.fai"
            preprocessed_intervals = "${params.igenomes_base}/GATK_SV_files/preprocessed_intervals.interval_list"
            manta_region_bed = "${params.igenomes_base}/GATK_SV_files/primary_contigs_plus_mito.bed.gz"
            manta_region_bed_index = "${params.igenomes_base}/GATK_SV_files/primary_contigs_plus_mito.bed.gz.tbi"
            mei_bed = "${params.igenomes_base}/GATK_SV_files/hg38.repeatmasker.mei.with_SVA.pad_50_merged.bed.gz"
            sd_locs_vcf = "${params.igenomes_base}/dbSNP_files/common_all_20180418.vcf.gz"
            sd_locs_vcf_index = "${params.igenomes_base}/dbSNP_files/common_all_20180418.vcf.gz.tbi"
            wham_include_list_bed_file = "${params.igenomes_base}/GATK_SV_files/wham_whitelist.bed"
            genome_file = "${params.igenomes_base}/GATK_SV_files/hg38.genome"
            wgd_scoring_mask = "${params.igenomes_base}/GATK_SV_files/wgd_scoring_mask.hg38.gnomad_v3.bed"
            rmsk = "${params.igenomes_base}/GATK_SV_files/hg38.randomForest_blacklist.withRepMask.bed.gz"
            rmsk_index = "${params.igenomes_base}/GATK_SV_files/hg38.randomForest_blacklist.withRepMask.bed.gz.tbi"
            segdups = "${params.igenomes_base}/GATK_SV_files/hg38.SD_gaps_Cen_Tel_Heter_Satellite_lumpy.blacklist.sorted.merged.bed.gz"
            segdups_index = "${params.igenomes_base}/GATK_SV_files/hg38.SD_gaps_Cen_Tel_Heter_Satellite_lumpy.blacklist.sorted.merged.bed.gz.tbi"
            cytoband = "${params.igenomes_base}/GATK_SV_files/cytobands_hg38.bed.gz"
            cytobands_index = "${params.igenomes_base}/GATK_SV_files/cytobands_hg38.bed.gz.tbi"
            cnmops_allo_file = "${params.igenomes_base}/GATK_SV_files/allosome_file.tsv"
            cnmops_exclude_list = "${params.igenomes_base}/GATK_SV_files/GRCh38_Nmask.bed"
            cnmops_chrom_file = "${params.igenomes_base}/GATK_SV_files/autosome_file.tsv"
            copy_number_autosomal_contigs = 2
            allosomal_contigs = ["chrX", "chrY"]
            chr_x = "chrX"
            chr_y = "chrY"
            contig_ploidy_priors = "${params.igenomes_base}/GATK_SV_files/hg38.contig_ploidy_priors_homo_sapiens.tsv"
            exclude_intervals_for_gcnv = "${params.igenomes_base}/GATK_SV_files/hg38.wgs.blacklist.wPAR.bed"
            pesr_exclude_list = "${params.igenomes_base}/GATK_SV_files/PESR.encode.peri_all.repeats.delly.hg38.blacklist.sorted.bed.gz"
            pesr_exclude_list_index = "${params.igenomes_base}/GATK_SV_files/PESR.encode.peri_all.repeats.delly.hg38.blacklist.sorted.bed.gz.tbi"
            depth_exclude_list = "${params.igenomes_base}/GATK_SV_files/depth_blacklist.sorted.bed.gz"
            depth_exclude_list_tbi = "${params.igenomes_base}/GATK_SV_files/depth_blacklist.sorted.bed.gz.tbi"
            bin_exclude = "${params.igenomes_base}/GATK_SV_files/bin_exclude.hg38.gatkcov.bed.gz"
            bin_exclude_index = "${params.igenomes_base}/GATK_SV_files/bin_exclude.hg38.gatkcov.bed.gz.tbi"
            depth_training_bed = "${params.igenomes_base}/GATK_SV_files/train_hg38_reviewed_final.bed"
            clustering_config_part1 = "${params.igenomes_base}/GATK_SV_files/clustering_config.part_one.tsv"
            stratification_config_part1 = "${params.igenomes_base}/GATK_SV_files/stratify_config.part_one.tsv"
            clustering_config_part2 = "${params.igenomes_base}/GATK_SV_files/clustering_config.part_two.tsv"
            stratification_config_part2 = "${params.igenomes_base}/GATK_SV_files/stratify_config.part_two.tsv"
            clustering_tracks = [
                "${params.igenomes_base}/GATK_SV_files/hg38-Segmental-Dups.bed.gz",
                "${params.igenomes_base}/GATK_SV_files/hg38-Simple-Repeats.bed.gz",
                "${params.igenomes_base}/GATK_SV_files/hg38-RepeatMasker.bed.gz"
            ]
            clustering_track_names = ["SD", "SR", "RM"]
            hervk_reference = "${params.igenomes_base}/GATK_SV_files/HERVK.sorted.bed.gz"
            line1_reference = "${params.igenomes_base}/GATK_SV_files/LINE1.sorted.bed.gz"
            intron_reference = "${params.igenomes_base}/GATK_SV_files/gencode.v39.CDS.intron.tsv.gz"
            recalibrate_gq_genome_track_umap100 = "${params.igenomes_base}/GATK_SV_files/hg38_umap_s100.bed.gz"
            recalibrate_gq_genome_track_umap24 = "${params.igenomes_base}/GATK_SV_files/hg38_umap_s24.bed.gz"
            aou_recalibrate_gq_model_file = "${params.igenomes_base}/GATK_SV_files/gatk-sv-recalibrator.aou_phase_1.v1.model"
            sl_cutoff_table = "${params.igenomes_base}/GATK_SV_files/baseline_sl_cutoffs.tsv"
            ccdg_abel_site_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/CCDG_abel"
            gnomad_v4_site_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/gnomAD_v4"
            gnomad_v2_collins_site_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/gnomAD_v2_Collins"
            hgsv_byrska_bishop_site_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/HGSV_ByrskaBishop_GATKSV"
            ssc_belyeu_site_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/SSC_Belyeu"
            thousand_genomes_site_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/1000G_Sudmant"
            gnomad_v2_collins_sample_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/gnomAD_v2_Collins_perSample.tar.gz"
            hgsv_byrska_bishop_sample_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/HGSV_ByrskaBishop_GATKSV_perSample.tar.gz"
            hgsv_byrska_bishop_sample_renaming_tsv = "${params.igenomes_base}/GATK_SV_files/rename_sample_ids_HGSV_ByrskaBishop.tsv"
            hgsv_ebert_sample_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/HGSV_Ebert_perSample.tar.gz"
            ssc_belyeu_sample_level_benchmarking_dataset = "${params.igenomes_base}/GATK_SV_files/SSC_Belyeu_perSample.tar.gz"
            protein_coding_gtf = "${params.igenomes_base}/GATK_SV_files/gencode.v47.basic.protein_coding.canonical.gtf"
            noncoding_bed = "${params.igenomes_base}/GATK_SV_files/noncoding.has_chordEnh.sort.hg38.bed"
            par_bed = "${params.igenomes_base}/GATK_SV_files/hg38.par.bed"
            external_af_ref_bed = "${params.igenomes_base}/GATK_SV_files/gnomad_v4_SV.Freq.tsv.gz"
            external_af_ref_prefix = "gnomad_v4.1_sv"
            external_af_population = ["ALL", "AFR", "AMR", "EAS", "EUR", "MID", "FIN", "ASJ", "RMI", "SAS", "AMI"]
        }
    }
}