process {
    withName: 'PICARD_COLLECTINSERTSIZEMETRICS' {
            ext.args = {
                def ref = params.genomes[params.genome]?.reference_fasta ?: params.genomes[params.genome]?.fasta
                ref ? "--REFERENCE_SEQUENCE ${ref}" : ''
            }
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/InsertSize_out/${meta.id}" },
                pattern: "*.{txt,pdf}"
            ]
    }

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args   = '-Ov'
        ext.prefix = 'common_all_20180418_renamed'
    }

    withName: 'GATKSV_GATHERSAMPLEEVIDENCE' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/GSE/" },
            ]
    }

    withName: 'GATKSV_EVIDENCEQC' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/EVIDQC" }
            ]
    }

    withName: 'SAMPLE_QC' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/SAMPLEQC/${task.tag}" },
                pattern: "*.{tsv,pdf,ped}"
            ]
    }

    withName: 'BATCHING' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/BATCHING/${task.tag}" }
            ]
    }

    withName: 'GATK_TRAINGCNV' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/TrainGCNV/${task.tag}" }
            ]
    }

    withName: 'GATKSV_GATHERBATCHEVIDENCE' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/GatherBatchEvidence/${task.tag}" }
            ]
    }

    withName: 'GATKSV_CLUSTERBATCH' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/ClusterBatch/${task.tag}" }
            ]
    }

    withName: 'GATKSV_GENERATEBATCHMETRICS' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/GenerateBatchMetrics/${task.tag}" }
            ]
    }

    withName: 'GATKSV_FILTERBATCHSITES' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/FilterBatchSites/${task.tag}" }
            ]
    }

    withName: 'GATKSV_FILTERBATCHSAMPLES' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/FilterBatchSamples/${task.tag}" }
            ]
    }

    withName: 'GATKSV_MERGEBATCHSITES' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/MergeBatchSites/${task.tag}" }
            ]
    }

    withName: 'GATKSV_GENOTYPEBATCH' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/GenotypeBatch/${task.tag}" }
            ]
    }

    withName: 'GATKSV_REGENOTYPECNVS' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/RegenotypeCNVs/${task.tag}" }
            ]
    }

    withName: 'GATKSV_COMBINEBATCHES' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/CombineBatches/${task.tag}" }
            ]
    }
}
