process {
    withName: 'PICARD_COLLECTINSERTSIZEMETRICS' {
            ext.args = { "R=${params.genomes[params.genome]?.fasta ?: params.genomes[params.genome]?.fasta}" }
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/InsertSize_out/${meta.id}" },
                pattern: "*{.txt*,.pdf*}"
            ]
    }

    withName: 'GATKSV_GATHERSAMPLEEVIDENCE' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/GSE/${meta.id}" },
                pattern: "call-*"
            ]
    }

    withName: 'GATKSV_EVIDENCEQC' {
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/EVIDQC" }
            ]
    }
}