process {
    withName: 'PICARD_COLLECTINSERTSIZEMETRICS' {
            ext.args = { "R=${params.genomes[params.genome]?.ascat_genome ?: params.genomes[params.genome]?.ascat_genome}" }
            publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/InsertSize_out/${meta.id}" },
                pattern: "*{.txt*,.pdf*}"
            ]
    }
}