params {
    gse_template = "${projectDir}/data/templates/GatherSampleEvidence.tmpl.json"
    evidqc_template = "${projectDir}/data/templates/EvidenceQC.tmpl.json"
    traingcnv_template = "${projectDir}/data/templates/TrainGCNV.tmpl.json"
    gbe_template = "${projectDir}/data/templates/GatherBatchEvidence.tmpl.json"
    clusterbatch_template = "${projectDir}/data/templates/ClusterBatch.tmpl.json"
    generatebatchmetrics_template = "${projectDir}/data/templates/GenerateBatchMetrics.tmpl.json"
    filterbatchsites_template = "${projectDir}/data/templates/FilterBatchSites.tmpl.json"
    filterbatchsamples_template = "${projectDir}/data/templates/FilterBatchSamples.tmpl.json"
    mergebatchsites_template = "${projectDir}/data/templates/MergeBatchSites.tmpl.json"
    genotypebatch_template = "${projectDir}/data/templates/GenotypeBatch.tmpl.json"
    regenotypecnvs_template = "${projectDir}/data/templates/RegenotypeCNVs.tmpl.json"
    combinebatches_template = "${projectDir}/data/templates/CombineBatches.tmpl.json"
    resolvecomplexvariants_template = "${projectDir}/data/templates/ResolveComplexVariants.tmpl.json"
    genotypecomplexvariants_template = "${projectDir}/data/templates/GenotypeComplexVariants.tmpl.json"
    cleanvcf_template = "${projectDir}/data/templates/CleanVcf.tmpl.json"
    refinecomplexvariants_template = "${projectDir}/data/templates/RefineComplexVariants.tmpl.json"
    joinrawcalls_template = "${projectDir}/data/templates/JoinRawCalls.tmpl.json"
    svconcordance_template = "${projectDir}/data/templates/SVConcordance.tmpl.json"
    scoregenotypes_template = "${projectDir}/data/templates/ScoreGenotypes.tmpl.json"
    filtergenotypes_template = "${projectDir}/data/templates/FilterGenotypes.tmpl.json"
    annotatevcf_template = "${projectDir}/data/templates/AnnotateVcf.tmpl.json"
}
