params {
    gse_template = "${projectDir}/data/templates/GatherSampleEvidence.tmpl.json"
    evidqc_template = "${projectDir}/data/templates/EvidenceQC.tmpl.json"
    traingcnv_template = "${projectDir}/data/templates/TrainGCNV.tmpl.json"
    gbe_template = "${projectDir}/data/templates/GatherBatchEvidence.tmpl.json"
    clusterbatch_template = "${projectDir}/data/templates/ClusterBatch.tmpl.json"
    generatebatchmetrics_template = "${projectDir}/data/templates/GenerateBatchMetrics.tmpl.json"
    filterbatchsites_template = "${projectDir}/data/templates/FilterBatchSites.tmpl.json"
    filterbatchsamples_template = "${projectDir}/data/templates/FilterBatchSamples.tmpl.json"
    mergebatchsites_template = "${projectDir}/data/templates/MergeBatchSites.tmpl.json"
    genotypebatch_template = "${projectDir}/data/templates/GenotypeBatch.tmpl.json"
    regenotypecnvs_template = "${projectDir}/data/templates/RegenotypeCNVs.tmpl.json"
    combinebatches_template = "${projectDir}/data/templates/CombineBatches.tmpl.json"
}
