params {
    gse_wdl = "${params.gatk_sv_dir}/wdl/GatherSampleEvidence.wdl"
    evidqc_wdl = "${params.gatk_sv_dir}/wdl/EvidenceQC.wdl"
    traingcnv_wdl = "${params.gatk_sv_dir}/wdl/TrainGCNV.wdl"
    gbe_wdl = "${params.gatk_sv_dir}/wdl/GatherBatchEvidence.wdl"
    clusterbatch_wdl = "${params.gatk_sv_dir}/wdl/ClusterBatch.wdl"
    generatebatchmetrics_wdl = "${params.gatk_sv_dir}/wdl/GenerateBatchMetrics.wdl"
    filterbatchsites_wdl = "${params.gatk_sv_dir}/wdl/FilterBatchSites.wdl"
    filterbatchsamples_wdl = "${params.gatk_sv_dir}/wdl/FilterBatchSamples.wdl"
    mergebatchsites_wdl = "${params.gatk_sv_dir}/wdl/MergeBatchSites.wdl"
    genotypebatch_wdl = "${params.gatk_sv_dir}/wdl/GenotypeBatch.wdl"
    regenotypecnvs_wdl = "${params.gatk_sv_dir}/wdl/RegenotypeCNVs.wdl"
    combinebatches_wdl = "${params.gatk_sv_dir}/wdl/CombineBatches.wdl"
}
